<nav>
  <a href="/cookie1">Home</a> |
  <a href="/add-cookie">Add Cookie</a> |
  <a href="/remove-cookie">Remove Cookie</a> |
  <a href="/remove-cookie-ajax">Remove Cookie using AJAX</a> |
  <a href="/show-cookies">Show Cookies</a>
</nav>
<hr>
